.lottie{
    width: 300px;
    height: 300px;
}

.ailottie{
    width: 500px;
    height: 500px;
}


@media (min-width: 320px) and (max-width: 520px) {
    .lottie {
     width: 200px;
     height: 200px;
    }

    .ailottie {
        width: 300px;
        height: 300px;
       }
}